@import "mixins";
@import "variables";

.f-event-card {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  &.horizontal {
    height: 90px;
    padding-top: 0px;
  }

  .ec-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    border-radius: 2px;
    overflow: hidden;
    background-color: $eventcard-background-color;
    transition: all $transition;

    &:hover {
      @include BoxShadow(3);
    }
  }

  .f-thumbnail {
    flex: 0 0 80px;
    height: 80px;
    width: 80px;
  }

  .ec-mid-body {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-top: $eventcard-border;
    border-bottom: $eventcard-border;
    transition: all $transition;
  }

  .ec-right-body {
    flex: 0 1 auto;
    height: 100%;
    width: 28px;
    padding: 4px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    border: $eventcard-border;
    border-left: none;
    transition: all $transition;
  }

  .material-icons {
    font-size: 20px;
    color: rgba(1, 1, 1, 0.25);
    cursor: default;
  }

  .title {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    max-width: 230px;
    text-overflow: ellipsis;
  }

  .time,
  .location {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 17px;
    white-space: pre;

    .material-icons {
      margin-right: 4px;
      color: rgba(1, 1, 1, 0.5);
      font-size: 12px;
    }
  }

  .event-status {
    &.going {
      color: #aed581;
    }
    &.owned {
      color: #ffca28;
    }
    &.maybe {
      color: #ffb74d;
    }
    &.cant {
      color: #e57373;
    }
  }
}
