@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import "variables";

.app {
  width: 100%;
  height: 100%;
}

#root {
  background-color: $bg-color;
}

.hide-link {
  text-decoration: none;
}

.textarea,
.f-form textarea {
  background-color: scale-color(#e0e0e0, $lightness: 50%);
  border-radius: 3px;
  border: none;
  padding: 3px 5px;
  font-size: 14px;
}

.input,
.f-form input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"] {
    border: none;
    background-color: scale-color(#e0e0e0, $lightness: 50%);
    padding: 6px;
  }
}
