.f-tag {
  background-color: #eeeeee;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  color: #757575;
  line-height: 10px;
  margin: 4px;
  cursor: default;
  white-space: nowrap;
}

.f-tag-list {
}
