@import "variables";

.f-thumbnail {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: #e0e0e0;

  &.rounded {
    border-radius: 100%;
  }

  &.outlined {
    border: 2px solid white;
    box-shadow: 0px 0px 5px black;
  }

  .image {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .edit-label {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px dashed #607d8b;
    opacity: 0;
    pointer-events: none;

    transition: all $transition;
  }

  &:hover .edit-label {
    opacity: 1;
  }

  .edit-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &.rounded .edit,
  &.rounded .edit-label {
    border-radius: 100%;
  }
}
